.sv-text{    
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 32%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 66%, rgba(9,9,121,1) 67%, rgba(9,9,121,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.363);
}